POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=social_support
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

# SberID OAuth (сейчас не используется)
SBER_TOKEN_URL=
SBER_REDIRECT_URI=
SBER_USERINFO_URL=
CLIENT_ID=
CLIENT_SECRET=

FRONTEND_SUCCESS_LOGIN_URL=

JWT_ACCESS_SECRET=your-access-secret-key-change-me
JWT_REFRESH_SECRET=your-refresh-secret-key-change-me

# Polza.ai LLM API
POLZA_AI_API_KEY=
POLZA_AI_BASE_URL=https://polza.ai/api/v1
POLZA_AI_MODEL=xiaomi/mimo-v2-flash

# Frontend
VITE_API_URL=http://127.0.0.1:8000
